body {
    font-family: Arial, sans-serif;
	font-size: small;
    margin: 0;
    padding: 0;
    background: #0B3C5D url('assets/images/logo2.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

}

#logo, #signin42 {
    padding-right: 10px;
    height: 30px;
    width:  30px;
}

.login-container {
	background-color: #808080;
	border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 500px;
    display: flex;


}

.bus-img{
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bus {
    height: 500px;
    position: relative;
    left: -90px
}

.login-container2 {
	background-color: rgba(255, 255, 255, 0.952);
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
    padding-top: 1px;
    width: 300px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 0px;
	font-weight: bold;
}

#logo3 {
    width: 40px;
    height: 40px;
    padding-top: 30px;
}
h6 {
    padding-top: 30px;
	font-weight: bold;
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
	background-color: #8080801e;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-right: 40px;
}

.password-group {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#togglePassword img {
    width: 20px;
    height: 20px;
	padding-top: 25px;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    text-align: right;
    font-size: 0.9em;
    color: #0B3C5D;
    text-decoration: none;
}

.sign-up {
    text-decoration: none;
}

.sign-up:hover {
    text-decoration: underline;
}

.forgot-password:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0B3C5D;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit2"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #8080801e;
    color: 333333;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
	margin-bottom: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit2"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #8080801e;
    color: #333333;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
	margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signin42{
    padding-right: 15px;
}

.divider {
    padding-top: 20px;
    padding-bottom: 20px;
}

.error-message {
    color: #640D6B;
    margin-top: 10px;
    display: none;
    font-weight: bold;
    font-size: smaller;
    padding-bottom: 6px;
}

#input-error {
    border: 1px solid #640D6B;
    box-shadow: 0 1px 2px #000000;
}

#input-error2 {
    color: #640D6B;
}