<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards2SW</title>
    <link rel="stylesheet" href="../static/upload.css">
</head>
<html>
    <body>
		<div class="top-bar">
			<img id="logo" src="../static/assets/images/Caetano-Bus-logo.png" alt="caetano">
			<div>
				<h1>Upload Excel File</h1>
			</div>
			<div class="top-right">
				<img class="bell-icon" src="../static/assets/icons/Doorbell.png">
				<img  class="profile-pic" src="../static/assets/icons/avatar.png" alt="Profile">
			</div>
		</div>
        <form action="/upload" method="post" enctype="multipart/form-data">
			<input class="file" type="file" name="file" />
            <div class="horizontal">
				<div class="group">
					<img src="../static/assets/icons/gmail_groups.png" alt="groups">
					<input class="input" type="text" name="group" placeholder="Enter group" />
				</div>
				<div class="raise">
					<img src="../static/assets/icons/raise.png" alt="groups">
					<input class="input" id="raise" type="number" step="0.01" name="percentage" placeholder="€ %" />
				</div>
				<input type="date" name="date" placeholder="Enter current date" />
			</div>
            <input type="submit" />
        </form>
    </body>
</html>